<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Notas</div>
      <div class="item item-body">
        <div>
          Un 7 en matematica
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Asistencias</div>
      <div class="item item-body">
        <div>
          100% presente
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Comunicados</div>
      <div class="item item-body">
        <div>
          Su hijo se porto muy mal hoy
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
